body {
    font-family: Lora, sans-serif;
    background-image: linear-gradient(
    45deg,
    hsl(36deg 57% 43%) 0%,
    hsl(36deg 48% 47%) 8%,
    hsl(36deg 43% 52%) 17%,
    hsl(36deg 43% 56%) 25%,
    hsl(37deg 43% 61%) 33%,
    hsl(37deg 43% 65%) 42%,
    hsl(37deg 43% 69%) 50%,
    hsl(38deg 43% 74%) 58%,
    hsl(38deg 43% 79%) 67%,
    hsl(38deg 42% 83%) 75%,
    hsl(39deg 40% 88%) 83%,
    hsl(39deg 37% 93%) 92%,
    hsl(40deg 23% 97%) 100%
  );
}

.openai-container {
    margin: 20px auto;
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; 
    overflow: hidden; 
    text-align: left;
    width: 769px;
    justify-content: center;
    margin-right: 0px;
    padding-bottom: 70px;
}

.openai-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.openai-container p {
    font-size: 16px;
    line-height: 1.5;
    overflow-wrap: break-word;
}

/* Loading text styling */
.loading-text {
    font-style: italic;
    color: #888;
    text-align: center;
}

.loading-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}