@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

/* General styling */
body {
  background-color: #f4f4f4; 
  font-family: Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    30deg,
    hsl(36deg 90% 37%) 0%,
    hsl(34deg 67% 43%) 8%,
    hsl(33deg 54% 48%) 17%,
    hsl(33deg 49% 52%) 25%,
    hsl(32deg 47% 57%) 33%,
    hsl(32deg 45% 61%) 42%,
    hsl(33deg 42% 65%) 50%,
    hsl(34deg 37% 69%) 58%,
    hsl(36deg 31% 73%) 67%,
    hsl(41deg 21% 76%) 75%,
    hsl(75deg 10% 80%) 83%,
    hsl(174deg 17% 84%) 92%,
    hsl(193deg 49% 87%) 100%
  );
}

.scan {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: white; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  border: 2px solid #ff6a00;
}

.scan > * {
  margin: 10px 0;
}

.scanCanvas {
  border: 1px solid #000;
  border-radius: 5px;
}

.scanBtn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.myHref {
  display: inline-block; 
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background-color: #ff6a00;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 5px; 
  border: 0px;
}

.myHref:hover {
  display: inline-block; 
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background-color: #605a4a;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 5px; 
}

.button-container {
  display: inline-block;
  padding: 0px 0px;
  text-decoration: none; 
  color: white;
  background-color: #f9f9f9;
  border-radius: 0px;
  margin-left: 325px;
  border: 0px solid #ff6a00;
  margin-bottom: 20px;
}

.scanBtn a {
  background-color: #ff6a00;
}

.scanBtn a:hover {
  background-color: #605a4a;
}

.result {
  margin-top: 0px;
  font-size: 15px; 
  color: #333; 
  
}

.resultModal {
  font-size: 15px;
  color: #333;
}
