@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

/* General styling */
body {
  background-color: #f4f4f4; 
  font-family: Lora, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    45deg,
    hsl(36deg 57% 43%) 0%,
    hsl(36deg 48% 47%) 8%,
    hsl(36deg 43% 52%) 17%,
    hsl(36deg 43% 56%) 25%,
    hsl(37deg 43% 61%) 33%,
    hsl(37deg 43% 65%) 42%,
    hsl(37deg 43% 69%) 50%,
    hsl(38deg 43% 74%) 58%,
    hsl(38deg 43% 79%) 67%,
    hsl(38deg 42% 83%) 75%,
    hsl(39deg 40% 88%) 83%,
    hsl(39deg 37% 93%) 92%,
    hsl(40deg 23% 97%) 100%
  );
}

.scan {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: white; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.scan > * {
  margin: 10px 0;
}

.scanCanvas {
  border: 1px solid #000;
  border-radius: 5px;
}

.scanBtn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.myHref {
  display: inline-block; 
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background-color: #f1d59f;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 5px; 
}

.scanBtn a {
  background-color: #f1d59f;
}

.scanBtn a:hover {
  background-color: #605a4a;
}

.result {
  margin-top: 0px;
  font-size: 15px; 
  color: #333; 
  
}

.resultModal {
  font-size: 15px;
  color: #333;
}
